@model LiveAgentAssetManagement.Entity.AssetModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p></p>
<div class="panel panel-default">
    <div class="panel-heading">Are you sure you want to delete this Asset?</div>
    <div class="panel-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.AssetName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AssetName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AssetSrNo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AssetSrNo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DepartmentId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DepartmentName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CategoryId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CategoryName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BrandId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BrandName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Supplier)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Supplier)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PurchasedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PurchasedDate)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-primary" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
            }
        </div>
    </div>
</div>